
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    width: 100vw;
    height: 100vh;
    background-color: #f3f3fd;}
    a{
        text-decoration: none;
    }

    
    /* navbar */
header{

    background-color: white;
    height: 101px;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    box-shadow: 2px 3px 4px rgba(0,0,0,0.2);
    
}

.menu a{
    text-decoration: none;
    font-family:outfit ;
    font-size: 14px;
    color: #0e0a23;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  
  
}
.logo img{
    width: 110.05px;
    height: 50px;
}
.menu{
    display: flex;
    gap: 0 50px;
}
.btn-container button{
    padding: 14px 26px;
    font-size: 16px;
    font-family: outfit,sans-serif;
    color: #ffffff;
    background-color: #060c3e;
    border-radius: 100px;
    box-shadow: 2px 3px 4px rgba(0,0,0,0.2);
    border: 0;
    text-transform: capitalize;
}

.btn{
    padding: 20px 26px;
    font-size: 16px;
    font-family: outfit,sans-serif;
    color: #ffffff;
    background-color: #060c3e;
    border-radius: 35px;
    box-shadow: 2px 3px 4px rgba(0,0,0,0.2);
    border: 0;
    text-transform: capitalize;
}
/* secton one */
section{
      padding: 20px 125px 125px; 
}
.section-a {
    display: flex;
     justify-content: space-evenly; 
     padding: 50px 125px 125px;
    border: none;
    align-content: center;
    padding: 20px 125px 125px; 

    
}
.container-one h1{
    font-family: outfit;
    font-size: 72px;
    line-height: 86.6px;
    text-align: start;
    color: #0e0a23;
    letter-spacing: -1.944px;
    text-transform: uppercase;
}
.container-one p{
    font-family: outfit;
    font-size: 16px;
    letter-spacing: normal;
    line-height: 25.6px;
    color: #000b33;
    
    
}
.container-one h4{
    font-family: outfit;
    font-size: 26px;
    line-height: 39px;
    text-align: start;
    color: #0e0a23;
    letter-spacing: -0.702px;
    margin-bottom: 15px;
}
 .img1 img{
    margin-top: 20px;
    width: 470px;
    height: 646px;
    border-radius: 12px 120px 12px 12px;
    box-shadow: none;
}
.container-one{
    justify-content: center;
    padding: 10px;
}
/* section two  */
.section-b{
    position: relative;
    background: linear-gradient( rgba(0,0,0,0.1),rgba(0,0,0.3)),url(images/education.jfif);
    background-repeat: no-repeat;
background-size: cover;
height: 85%;
padding: 100px;


}
p{
    text-transform: capitalize;
}


.container-two{
    background-color: white;
    padding: 40px 30px; 
    margin-top:30px ;

}
.container-two h1{
    color: #0e0a23;
    font-size: 45px;
    font-family: outfit;
    line-height: 25.6px;
    letter-spacing: normal;
    margin-bottom: 30px;
    text-align: center;
}
.container-two .btn-container{
justify-items: center;
align-items: center;
}
.container-two p{
    font-family: outfit;
    text-align: center;
    line-height: 25.6px;
    font-size: 16px;
    letter-spacing: normal;
    color: #000b33;
    margin-bottom: 25px;
}
/* section three  */
.section-c{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 20px 125px 125px; 

    
    
}
.container-three{
    background-color: #ffffff;
    padding: 65px 50px;

}
.container-three h1{
    color: #0e0a23;
    font-family: outfit;
    font-size: 48px;
    line-height: 67.7px;
    letter-spacing: -1.296px;
    margin-bottom: 10px;

}
.container-three p{
    letter-spacing: normal;
    font-family: outfit;
    font-size: 16px;
    text-align: start;
    line-height: 25.6px;
    color: #000b33;
    margin-bottom: 60px;
}
.img3 img{
    height: 623px;
    width: 574px;
}
/* section four  */
.section-d{
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #ffffff;
    padding-top: 150px;
    padding: 20px 125px 125px; 

}
.container-four{
    border: 20px solid #f3f3fd;
    border-radius: 20px;
    box-shadow: none;
    
}
.four h3{
    font-family: carbin,sans-serif;
    text-align: left;
    font-size: 16px;
    letter-spacing: normal;
    line-height: 25.6px;
    color:#000b33;
    padding: 20px 40px;
    background-color: #ffffff;
    border: 16px solid #f3f3fd;
    border-radius: 8px;
    box-shadow: none;
    text-transform: capitalize;
}
.f4 h1{
    font-family: outfit;
    line-height: 68px;
    text-align: center;
    font-size: 48px;
    letter-spacing: -1.296px;
    color: #000b33;
    padding-top: 40px;
    padding-left: 20px;
}
/* section five  */
.container-five h1{
    font-family: outfit;
    font-size: 48px;
    text-align:center;
    line-height: 68px;
    letter-spacing: -1.296px;
    color: #000000;
    text-transform: capitalize;

}
.container-five h3,h2{
    font-family: outfit;
    font-size: 30px;
    text-align: start;
    line-height: 45px;
    letter-spacing: -0.81px;
    color: #000000;

}
.container-five h3{
    margin-bottom: 20px;

}
.container-five p{
    margin-bottom: 20px;
    font-size: 16px;
    font-family: outfit;
    color: #000b33;
}
.img5 img{
    width: 52px;
    height: 52px;
    
}
.img5{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    margin-bottom: 20px;
    
}
.img5 div{
    border: 2px solid black;
     margin-right: 15px; 

}
.img5 h3 {
    font-family: outfit;
    font-size: 26px;
    text-align: center;
    line-height: 40px;
    letter-spacing: -0.675;
    text-transform: capitalize;
    margin: 79px 0px 28px;
    /* padding: 10px; */
    
}
/* section six */
.section-f{
    padding: 20px 125px 125px; 

}
.f h1{
    font-size: 49px;
    font-family: outfit;
    color: #0e0a23;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 50px;
    letter-spacing: -1.08px;
    line-height: 56px;
}
.container-f h3{
    text-align: left;
    font-size: 40px;
    font-family: outfit;
    color: #0e0a23;
    text-align: start;
    text-transform: capitalize;
    margin-bottom: 50px;
    letter-spacing: -1.08px;
    line-height: 56px;
}
.container-f{
    display: grid;
    grid-template-columns: 5fr 1fr;
    text-align: center;
    gap: 20px;
}
.container-f .btn-container{
    justify-content: center;
}

.img-h{
    display: flex;
    text-align: center;
    
}
.h img{
    width: 184px;
    height: 50px;
    margin: 20px auto;
}
.container-g h1{
    text-align: center;
    font-size: 48px;
    font-family: outfit;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 50px;
    letter-spacing: -1.296px;
    line-height: 68px;

}
.container-g{
    background-color: #000b33;
    border-radius: 32px; 
    box-shadow: none;
    width: 1300px;
    height: 300px;
    margin: 2px;
    padding: 30px 30px;
    text-align: justify;
    justify-content: baseline;
    
}
.container-g p{
    text-align: center;
    font-size: 22px;
    font-family: outfit;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 50px;
    letter-spacing: normal;
    line-height: 34px;
    margin: 0 30px;

}
.email {
    padding: 6px 100px 7px 6px;
    font-size: 16px;
    font-family: outfit,sans-serif;
    color: #ffffff;
    background-color: #ffffff;
    border-radius: 100px;
    box-shadow:none;
    border: 0;
    text-transform: capitalize;
}
/* footer */
footer{
    background-color:#060c3e ;
    font-family: outfit;
    padding: 50px 125px 125px;
    /* height: 80vh; */

}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 3rem;
    margin-top: 0;

}
footer p{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: normal;
    text-align: start;
    color: #ffffffbd;
}

.footer a{
    color: white;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: normal;
    text-align: left;
    /* justify-content: space-between; */
    padding: 15px;
    margin-top: 0px;
}
footer h5{
    color: white;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: normal;
    text-align: center;
    padding: 2rem 0;
}
.logo2 img{
    width: 126.05px;
    height: 55px;
    margin-bottom: 2rem;
}
.contact p{
    color: white;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: normal;
    text-align: left;

}
.contact span{
    color: #ffffffbd;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.378px;
    text-align: left;

}

 .con a{
    display: grid;
    grid-template-columns: 1fr 4fr;
    text-align: center;
    justify-content: center;
    margin-top: 3px;
} 